*{
    margin:0;
    padding:0;
}
body{
    color: #32295e;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
   position: relative;
}

body ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}
    
ul{
    list-style: none;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: center;
}
.book {
    position: relative;
    width: 190px;
    height: 270px;
    perspective: 1000px;
    transform-style: preserve-3d;
   
}
.frontcover{
   background-color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: rotateY(180deg);
    z-index: 5; /*brings it to the front*/
}
.front {
    background-image: url("bookcover1.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    width:100%;
    height: 100%;
    transform: rotateY(-38deg) translateZ(8px);
    backface-visibility: hidden;
    z-index: 4;
}
.back{
    background-color: #ddd;
    transform: rotateY(-15deg) translateZ(-8px);
    
}

.page ::before {
    background-image: none; /* this will remove this background image */
}

.page > li {
    background-color: white;
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
    inset -1px 0px 1px black;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transform: rotateY(-28deg) translateZ(-1px);
}
.page li:nth-child(1){
    background-color: white;
    transform: rotateY(-28deg)

}
.page li:nth-child(2){
    background-color: white;
    transform: rotateY(-30deg)

}
.page li:nth-child(3){
    background-color: white;
    transform: rotateY(-32deg)

}

.front,
.back,
.page,
.front li,
.back li{
   
    position: absolute;
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
}
.front ,
.back{
    transform-origin: 0% 100%;
    background-color: black;
    
}
.front{
    transition: all 0.8s ease , z-index 0.6s;
}
.front li:last-child{
    transform: rotateY(180deg) translateZ(2px);
}
.page,
.page > li {
    position: absolute;
}
.page{
   
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.page li{ 
    transition-duration: 0.6s;
}
.book:hover .front{
    transform: rotateY(-145deg) translateZ(0)
}
.book:hover > .page li:nth-child(1){
    transform: rotateY(-30deg);
    transition: 1.5sec;
}
.book:hover > .page li:nth-child(2){
    transform: rotateY(-35deg);
    transition: 1.8sec;
}
.book:hover > .page li:nth-child(3){
    transform: rotateY(-118deg);
    transition: 1.6sec;
}
.book:hover > .page li:nth-child(4){
    transform: rotateY(-130deg);
    transition: 1.4sec;
}
.book:hover > .page li:nth-child(5){
    transform: rotateY(-140deg);
    transition: 1.2sec;
}

